:root{
    --md-sys-color-primary: rgb(149 70 72);
    --md-sys-color-surface-tint: rgb(149 70 72);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(255 169 168);
    --md-sys-color-on-primary-container: rgb(92 26 30);
    --md-sys-color-secondary: rgb(125 84 83);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(255 206 205);
    --md-sys-color-on-secondary-container: rgb(94 57 56);
    --md-sys-color-tertiary: rgb(116 91 0);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(224 189 89);
    --md-sys-color-on-tertiary-container: rgb(63 48 0);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(65 0 2);
    --md-sys-color-background: rgb(255 248 247);
    --md-sys-color-on-background: rgb(34 26 25);
    --md-sys-color-surface: #FF9C9C;
    --md-sys-color-on-surface: rgb(34 26 25);
    --md-sys-color-surface-variant: rgb(246 221 220);
    --md-sys-color-on-surface-variant: rgb(84 67 66);
    --md-sys-color-outline: rgb(135 114 114);
    --md-sys-color-outline-variant: rgb(217 193 192);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(55 46 46);
    --md-sys-color-inverse-on-surface: rgb(253 237 236);
    --md-sys-color-inverse-primary: rgb(255 179 178);
    --md-sys-color-primary-fixed: rgb(255 218 217);
    --md-sys-color-on-primary-fixed: rgb(62 4 10);
    --md-sys-color-primary-fixed-dim: rgb(255 179 178);
    --md-sys-color-on-primary-fixed-variant: rgb(119 47 50);
    --md-sys-color-secondary-fixed: rgb(255 218 217);
    --md-sys-color-on-secondary-fixed: rgb(48 19 19);
    --md-sys-color-secondary-fixed-dim: rgb(238 186 185);
    --md-sys-color-on-secondary-fixed-variant: rgb(98 61 60);
    --md-sys-color-tertiary-fixed: rgb(255 224 140);
    --md-sys-color-on-tertiary-fixed: rgb(36 26 0);
    --md-sys-color-tertiary-fixed-dim: rgb(230 195 94);
    --md-sys-color-on-tertiary-fixed-variant: rgb(88 68 0);
    --md-sys-color-surface-dim: rgb(230 215 214);
    --md-sys-color-surface-bright: rgb(255 248 247);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(255 240 239);
    --md-sys-color-surface-container: rgb(250 234 233);
    --md-sys-color-surface-container-high: rgb(244 229 228);
    --md-sys-color-surface-container-highest: rgb(239 223 222);
    --wildeye-edge-color: #F2ECEE;
    --wildeye-container-primary: #f8f1f6;
    --md-elevated-button-container-color: var(--md-sys-color-surface);
    --md-elevated-button-text-color: var(--md-sys-color-on-secondary-fixed);
    font-family: 'Roboto', sans-serif !Important;
}