:root{
    --md-sys-color-primary: rgb(62 104 55);
    --md-sys-color-surface-tint: rgb(62 104 55);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(191 240 177);
    --md-sys-color-on-primary-container: rgb(0 34 1);
    --md-sys-color-secondary: rgb(83 99 78);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(214 232 205);
    --md-sys-color-on-secondary-container: rgb(17 31 15);
    --md-sys-color-tertiary: rgb(56 101 105);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(188 235 239);
    --md-sys-color-on-tertiary-container: rgb(0 32 34);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(65 0 2);
    --md-sys-color-background: rgb(248 251 241);
    --md-sys-color-on-background: rgb(25 29 23);
    --md-sys-color-surface: rgb(248 251 241);
    --md-sys-color-on-surface: rgb(25 29 23);
    --md-sys-color-surface-variant: rgb(223 228 216);
    --md-sys-color-on-surface-variant: rgb(66 73 63);
    --md-sys-color-outline: rgb(115 121 110);
    --md-sys-color-outline-variant: rgb(194 200 188);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(46 50 43);
    --md-sys-color-inverse-on-surface: rgb(239 242 232);
    --md-sys-color-inverse-primary: rgb(164 211 151);
    --md-sys-color-primary-fixed: rgb(191 240 177);
    --md-sys-color-on-primary-fixed: rgb(0 34 1);
    --md-sys-color-primary-fixed-dim: rgb(164 211 151);
    --md-sys-color-on-primary-fixed-variant: rgb(39 80 33);
    --md-sys-color-secondary-fixed: rgb(214 232 205);
    --md-sys-color-on-secondary-fixed: rgb(17 31 15);
    --md-sys-color-secondary-fixed-dim: rgb(187 204 178);
    --md-sys-color-on-secondary-fixed-variant: rgb(60 75 55);
    --md-sys-color-tertiary-fixed: rgb(188 235 239);
    --md-sys-color-on-tertiary-fixed: rgb(0 32 34);
    --md-sys-color-tertiary-fixed-dim: rgb(160 207 211);
    --md-sys-color-on-tertiary-fixed-variant: rgb(30 77 81);
    --md-sys-color-surface-dim: rgb(216 219 210);
    --md-sys-color-surface-bright: rgb(248 251 241);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(242 245 235);
    --md-sys-color-surface-container: rgb(236 239 229);
    --md-sys-color-surface-container-high: rgb(230 233 224);
    --md-sys-color-surface-container-highest: rgb(224 228 218);
    --md-elevated-button-container-color: var(--md-sys-color-surface);
    --md-elevated-button-text-color: var(--md-sys-color-on-secondary-fixed);
    --wildeye-edge-color: var(--md-sys-color-surface-container-high);
    --wildeye-container-primary: var(--md-sys-color-secondary-container);
}